<!DOCTYPE html>

<html ng-app="Moon">
  <head>
    <title>Moon</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body ng-controller="PhasesCtrl">
    <p></p>
    <h1>Moon</h1>
    <h3>Phases</h3>
    <p class="menu"><a ng-click="toggleLayout('grid')" href="#">Grid</a> | <a ng-click="toggleLayout('card')" href="#">Card</a></p>
    <!-- ontouchstart="this.classList.toggle('hover');" -->
    <div class="flip-container" ng-repeat="phase in phases">
      <div class="flipper">
        <div class="front">
          <img ng-src='http://www.imooncal.com/cs/i/1_m{{ $index }}.jpg' />
          <p>{{ phase.number }}</p>
        </div>
        <div class="back">
          <p>{{ phase.name }}</p>
        </div>
      </div>
    </div>
  </body>
</html>

<script>

  function zeroPad(num, places) {
    var zero = places - num.toString().length + 1;
    return Array(+(zero > 0 && zero)).join("0") + num;
  }

  var app = angular.module('Moon', []);

  app.controller('PhasesCtrl', function($scope){
    var phaseNames = ["New", "Waxing Crescent", "First Quarter", "Waxing Gibbous", "Full",
          "Waning Gibbous", "Third Quarter", "Waning Crescent"];
    $scope.phases = [];
    for (var i=0; i <= 30; i++){
      var phase = { index: i, number: zeroPad(i, 3) },
          phaseIndex = parseInt(i / 4);

      phase.name = phaseNames[phaseIndex];
      $scope.phases.push(phase);
    }
    $scope.layout = 'grid';

    $scope.toggleLayout = function(){

    };

  });

</script>
