<!DOCTYPE html>

<html ng-app="Moon">
  <head>
    <title>Moon</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <script src="js/moon.js"></script>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body ng-controller="PhasesCtrl">
    <p></p>
    <h1>Moon</h1>
    <h3>Phases</h3>
    <p class="menu"><a ng-click="toggleLayout('grid')" href="#">Grid</a> | <a ng-click="toggleLayout('card')" href="#">Card</a></p>
    <div ontouchstart="this.classList.toggle('hover');" class="flip-container" ng-repeat="phase in phases">
      <div class="flipper">
        <div class="front">
          <img ng-src='http://www.imooncal.com/cs/i/1_m{{ $index }}.jpg' />
          <p>{{ phase.number }}</p>
        </div>
        <div class="back">
          <p>{{ phase.name }}</p>
          <img class="moon-pic" ng-src='{{ phase.url }}' />
        </div>
      </div>
    </div>
  </body>
</html>

<script>

  function moon_url(date){
    get_moon_imagenum(date);
    console.log(moon_imagenum);
    var fn = "000" + moon_imagenum;
        fn = fn.slice( fn.length - 4 );
     var domain = "http://svs.gsfc.nasa.gov",
        path = "/vis/a000000/a004400/a004404/";

    return [domain, path, 'frames/730x730_1x1_30p/moon.', fn, '.jpg'].join('');
  }

  function zeroPad(num, places) {
    var zero = places - num.toString().length + 1;
    return Array(+(zero > 0 && zero)).join("0") + num;
  }

  var app = angular.module('Moon', []);

  app.controller('PhasesCtrl', function($scope){
    var phaseNames = ["New", "Waxing Crescent", "First Quarter", "Waxing Gibbous", "Full",
          "Waning Gibbous", "Third Quarter", "Waning Crescent"];
    $scope.phases = [];
    for (var i=0; i <= 30; i++){
      var phase = { index: i, number: zeroPad(i, 3) },
          phaseIndex = parseInt(i / 4);

      phase.name = phaseNames[phaseIndex];
      var date = new Date();
      date = date.getTime() + 24*3600*1000*i;
      phase.url = moon_url(new Date(date));
      $scope.phases.push(phase);
    }
    $scope.layout = 'grid';

    $scope.toggleLayout = function(){

    };

  });

</script>
